* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f8f9fa;
    color: #0f0f0f;
}

/* Alternate Menu's */

.mobile-menu {
    display: none;
}

.tablet-menu {
    display: none;
}

.overlay-menu {
    display: none; 
}

.menu-search {
    display: none;
}

/* Desktop Header */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    margin-top: 1rem;
}

#project-title {
    font-size: 2.25rem;
    display: inline-block;
    margin-left: 2rem;
}

#desktop-search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#city-input {
    height: 40px;
    padding-left: 36px;
    background: url("Search.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.desktop-only {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #003F5C;
    color: #F8F9FA;
    border-radius: 4px;
    cursor: pointer;
    margin: 0rem 1rem;
}

/* Image Container */

#bg-container {
    display: flex; 
    width: 100vw;
    height: 40vh;
    padding: 1rem;
    margin: 0;
    background: url("The Earth.jpg");
}

.tagline-tablet {
    display: none;
}

.tagline-desktop {
    max-width: fit-content;
    padding: 1rem;
    margin: auto;
    text-align: center;   
    background-color: #0f0f0f;
    color: #FCD34d;
    font-size: 1.5rem;
    border-radius: .25rem;
    border: 1px #f8f9fa solid;
}

.tablet-dropdown {
    display: none;
}

/* Convert Temperature Button */

.button-block {
    display: flex;
    justify-content: flex-end;
}

#convert-temp {
    margin: 1rem;
}

.toggle-container {
    display: none;
}

.pan-gesture {
    display: none;
}

/* Carousel */

.bg-carousel-desktop {
    background-color: #0f0f0f;
    padding-top: 1rem;
}

.sub-heading {
    padding: 1rem;
    margin: 0;
    max-width:fit-content;
    margin: auto;
    font-size: 1.5rem;
    background-color: #f8f9fa;
    color: #0f0f0f;
    border-radius: 5px;
    text-decoration-line: underline;
}

.carousel {
    padding-top: 1rem;
    margin: auto;
    position: relative;
    width: 744px;
    height: 496px;
    overflow: hidden;
    justify-content: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
    pointer-events: none;
    z-index: 1;
}

.slide p {
    position: relative;
    z-index: 2;
    background-color: #003F5C;
    padding: 1rem;
    max-width: fit-content;
    color: #FCD34d;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-top: 1rem;
}

.slide.active {
    opacity: 1;
}

#slide-I {
    background: url("St. Louis.png");
}

#slide-II {
    background: url("Pittsburgh.png");
}

#slide-III {
    background: url("Hollywood.jpg");
}

.pan-gesture {
    display: none;
}

.hidden {
    display: none !important;
}

#forecast-screen {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
}

#forecast-frame {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #F8F9FA;
    color: #0f0f0f;
    justify-content: space-evenly;
    gap: 18px;
}

.forecast-day {
    max-width: 180px;
    max-height: 300px;
    vertical-align: middle;
}

.city-name {
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 150px;
}

.forecast {
    font-size: 1.1rem;
    color: #003F5C;
    text-align: center;
}

.forecast-photo {
    display: flex;
    margin: 0 auto;
}

.high-temp, .low-temp {
    font-size: 1rem;
    text-align: right;
}

@media (max-width: 1024px) {

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px #0f0f0f solid;
    margin: .75rem;
}

.mobile-menu {
    display: none;
}

#desktop-search {
    display: none;
}

#city-input {
    display: none;
}

#desktop-only {
    display: none;
}

.tablet-menu {
    display: flex;
    margin-left: .5rem;
    cursor: pointer;
}

#project-title {
    display: inline-block;
    justify-content: right;
    margin-right: 2rem;
}

.overlay-menu {
    display: none;
}
   
.overlay-menu.active {
    display: block;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 45%;
    height: 100%;
    background-color: rgba(15, 15, 15, 1.00);      
    color: #f8f9fa;
    border: 1px solid #F8f9fa;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.overlay-menu ul {
    list-style: none;
    padding: 2rem;
}

.overlay-menu li {
    margin: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}
    
.overlay-menu li:hover {
    color: #FCD34d;
    text-decoration-line: underline;
}

.tagline-desktop {
    display: none;
}

.tagline-tablet {
    display: inline-block;
    max-width: fit-content;
    padding: 1rem;
    margin: 1rem;
    text-align: center;   
    background-color: #0f0f0f;
    color: #FCD34d;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px #003F5C solid;
}

.tablet-dropdown {
  display: inline-block;       
  margin: auto;
  background-color: #0f0f0f;
  color: #f8f9fa;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #F8F9FA;
}

.tablet-dropdown summary {
  list-style: none;            
  cursor: pointer;
  display: flex;               
  align-items: center;         
  gap: 0.5rem;
}

.tablet-dropdown[open] summary img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.tablet-only {
    display: inline-block;
    position: relative;
    left: 8.5rem;
    background-color: #003F5C;
    padding: .5rem .75rem;
    font-size: 1rem;
    color: #f8f9fa;
    border-radius: 2.5px;
}

.city-list {
  margin-top: 0.5rem;
  padding-left: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;

}

.city-list::-webkit-scrollbar {
    width: 18px;
    height: 12px;
    overflow-x: hidden; 
}

.city-list::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    border-radius: 4px;
    border: none;
    
}

.city-list::-webkit-scrollbar-track {
    background-color: #003F5C;
    border-radius: 5px;
}

.city-list li {
  padding: 0.25rem 0;
  cursor: pointer;
}

.city-list li:hover {
  background-color: #003F5C;
  color: #fcd34d;
}

.button-block {
    display: none;
}
    
.pan-gesture {
    display: none;
}

#forecast-screen {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
}

#forecast-frame {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 404px;
    background-color: #F8F9FA;
    color: #0f0f0f;
    justify-content: space-around;
    gap: 18px;
}

.forecast-day {
    width: 138px;
    height: 250px;

}

.city-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.forecast {
    font-size: 1rem;
    color: #003F5C;
    text-align: center;
}

.forecast-photo {
    display: flex;
    margin: 0 auto;
}

.high-temp, .low-temp {
    font-size: .9rem;
    text-align: right;
}
    
}

@media (max-width: 767px)

{
.flex-container {
    margin: .5rem;
    padding: .75rem;  
}

.mobile-menu {
    display: flex;
    cursor: pointer;
}

#menu-drop {
    display: none;
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.95);
    color: #f8f9fa;
    z-index: 999;
    padding: 1rem;
    overflow-y: auto;
}

#menu-drop.active {
    display: block;
}

#mobile-bar {
    background-color: #f8f9fa;
    color: #0f0f0f;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
}

.mobile-only {
    position: absolute;
    right: 2rem;
    top: 10%;
    transform: translateY(-50%);
    padding: .25rem .5rem;
    background-color:#FCD34d;
    color: #F8f9fa;
    border: 1px solid #0f0f0f;
    border-radius: 2.5px;
}

.mobile-drop {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-drop li {
    padding: 0.5rem;
    cursor: pointer;
}

.mobile-drop li:hover {
    background-color: #f8f9fa;
    color: #003F5C;
}

.active-city {
    background-color: #fcd34d;
    font-weight: bold;
    border-left: 4px solid #ff1e9f;
}

.tablet-menu {
    display: none;
}

#project-title {
    font-size: 1.75rem;
    margin: auto;
}
.tagline-tablet {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: .75rem;
    padding: .75rem;
    margin: .5rem;
    justify-content: center;
}

.tablet-dropdown {
    display: none;
}

.toggle-container {
    display: flex;
    margin: .75rem;
    justify-content: center;
}

.toggle-container p {
    display: flex;
    font-size: 1.25rem;
    margin: .75rem;
    color: #0f0f0f;
}

#toggle-temperature {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.toggle-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
    
.toggle-buttons input[type="radio"] {
    display: none;
}

.toggle-btn {
    padding: 1rem;
    width: 60px;
    height: 60px;
    border: 2px solid #0f0f0f;
    border-radius: 30px;
    background-color: #f8f9fa;
    color:#0f0f0f;
    font-size: 1.25rem;
    cursor: pointer;
    vertical-align: middle;   
}

#celsius:checked + label,
#fahrenheit:checked +label {
    background-color: #fcd34d;
    outline: 2px solid #ff1e9f;
}
     
.pan-gesture {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #f8f9fa;
    color: #0f0f0f;
}
.mobile-frame {
    width: 100%;
    height: auto;
}

.background-I {
    background-image: url("St. Louis.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.background-II {
    background-image: url("Pittsburgh.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.background-III {
    background-image: url("Hollywood.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.swipe-track {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    -ms-overflow-style: none;
}
.swipe-track::-webkit-scrollbar {
    display: none;
}

.city-caption {
    position: relative;
    margin-top: 1rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(248, 249, 250, 0.8);
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.swipe-track > div {
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.bg-carousel-desktop {
    display: none;
}

#forecast-screen {
    display: flex;
    flex-direction: column;
    margin-top: .75rem;
    padding: .5rem;
    border: none;
}

#forecast-frame {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    background-color: #f8f9fa;
    padding-top: .5rem;        
}

.forecast-day {
    display: inline-block;
    min-width: 100%;
    vertical-align: middle;
    height: auto;
    margin: 1rem 0;
    padding: .5rem;
    border: 1px solid #0f0f0f;
}

.city-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #0f0f0f;
}

.forecast {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.75rem;
    color: #003F5C;
   
}

.forecast-photo {
    position: relative;
    left: .75rem;
}

.high-temp, .low-temp {
    font-size: .9rem;
    text-align: right;
    position: relative;
    margin-right: .5rem;
    color: #0f0f0f;
}

}
